# Adrian Jałoszewski

Definicja typu `Person` oraz typów jego pól

In [1]:
from dataclasses import dataclass, field
from enum import Enum

import pandas as pd


class Sex(Enum):
    F = 'Female'
    M = 'Male'


@dataclass
class Person:
    name: str = field(init=True)
    surname: str = field(init=True)
    age: int = field(init=True)
    sex: Sex = field(init=True)

Uzupełnienie dataframe'a o 5 rekordów `Person`

In [2]:
df = pd.DataFrame(data=[
    Person('John', 'Doe', 20, Sex.M),
    Person('Jane', 'Doe', 25, Sex.F),
    Person('Max', 'Mustermann', 42, Sex.M),
    Person('Erika', 'Mustermann', 30, Sex.F),
    Person('Jan', 'Kowalski', 82, Sex.M)
])

Poniższe polecenie wyświetla informacje o kolumnach dataframe'a

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5 non-null      object
 1   surname  5 non-null      object
 2   age      5 non-null      int64
 3   sex      5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

Poniższe polecenie wyświetla podsumowanie wartości wszystkich kolumn:

In [4]:
df.describe(include='all')

       name     surname        age    sex
count     5           5   5.000000      5
unique    5           3        NaN      2
top     Max  Mustermann        NaN  Sex.M
freq      1           2        NaN      3
mean    NaN         NaN  39.800000    NaN
std     NaN         NaN  24.963974    NaN
min     NaN         NaN  20.000000    NaN
25%     NaN         NaN  25.000000    NaN
50%     NaN         NaN  30.000000    NaN
75%     NaN         NaN  42.000000    NaN
max     NaN         NaN  82.000000    NaN

Poniższe polecenie wyświetla podsumowanie wartości kolumn numerycznych `int64`

In [5]:
df.describe(include=['int64'])

             age
count   5.000000
mean   39.800000
std    24.963974
min    20.000000
25%    25.000000
50%    30.000000
75%    42.000000
max    82.000000

Poniższe polecenie wyświetla podsumowanie wartości pozostałych kolumn

In [6]:
df.describe(exclude="int64")

       name     surname    sex
count     5           5      5
unique    5           3      2
top     Max  Mustermann  Sex.M
freq      1           2      3

Poniższe polecenie zwraca pierwsze trzy wiersze dataframe'a

In [7]:
df.head(3)

   name     surname  age    sex
0  John         Doe   20  Sex.M
1  Jane         Doe   25  Sex.F
2   Max  Mustermann   42  Sex.M