In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../original_data/tb.csv')
df.head()

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,14581.0,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,13155.0,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,12718.0,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,9830.0,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5769 entries, 0 to 5768
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   iso2          5746 non-null   object
 1   year          5769 non-null   int64
 2   new_sp        3081 non-null   float64
 3   new_sp_m04    392 non-null    float64
 4   new_sp_m514   401 non-null    float64
 5   new_sp_m014   2381 non-null   float64
 6   new_sp_m1524  2407 non-null   float64
 7   new_sp_m2534  2408 non-null   float64
 8   new_sp_m3544  2415 non-null   float64
 9   new_sp_m4554  2421 non-null   float64
 10  new_sp_m5564  2414 non-null   float64
 11  new_sp_m65    2408 non-null   float64
 12  new_sp_mu     273 non-null    float64
 13  new_sp_f04    393 non-null    float64
 14  new_sp_f514   404 non-null    float64
 15  new_sp_f014   2378 non-null   float64
 16  new_sp_f1524  2394 non-null   float64
 17  new_sp_f2534  2400 non-null   float64
 18  new_sp_f3544  2398 non-null   float64
 19  new_sp_f4554  2401 non-null   float64
 20  new_sp_f5564  2394 non-null   float64
 21  new_sp_f65    2396 non-null   float64
 22  new_sp_fu     272 non-null    float64
dtypes: float64(21), int64(1), object(1)
memory usage: 1.0+ MB

In [6]:
df.describe()

,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,new_sp_m5564,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
count,5769.000000,3081.000000,392.000000,401.000000,2381.000000,2407.000000,2408.000000,2415.000000,2421.000000,2414.000000,...,393.000000,404.000000,2378.000000,2394.000000,2400.000000,2398.000000,2401.000000,2394.000000,2396.000000,272.000000
mean,1994.229329,9089.718922,8.806122,28.975062,79.438051,922.364769,1301.894518,1205.566046,983.515489,696.171914,...,6.417303,39.185644,106.341043,758.737260,856.087500,586.597998,400.376510,276.178363,255.307596,2.540441
std,8.423265,38612.097933,46.094789,127.881505,280.489536,4278.638975,5253.398971,5409.064589,4780.782748,3771.934518,...,39.630100,170.491532,435.889885,3153.018686,3295.220001,2293.956123,1589.955543,1191.728829,1138.763846,38.261653
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1987.000000,97.000000,0.000000,0.000000,0.000000,10.000000,15.000000,16.000000,13.000000,9.000000,...,0.000000,0.000000,1.000000,8.000000,10.000000,7.000000,5.000000,4.000000,5.000000,0.000000
50%,1994.000000,1017.000000,0.000000,1.000000,6.000000,92.000000,151.500000,134.000000,98.000000,62.000000,...,0.000000,2.000000,7.000000,68.000000,86.000000,59.000000,38.000000,25.000000,29.000000,0.000000
75%,2002.000000,4985.000000,2.000000,8.000000,36.000000,511.500000,728.000000,591.500000,434.000000,273.750000,...,1.000000,13.250000,50.000000,427.000000,477.500000,309.000000,216.000000,144.750000,124.000000,0.000000
max,2008.000000,615977.000000,655.000000,1519.000000,4648.000000,77121.000000,83850.000000,90498.000000,78815.000000,57492.000000,...,620.000000,2062.000000,8319.000000,51485.000000,49887.000000,33664.000000,21486.000000,18203.000000,21339.000000,631.000000

In [44]:
df.loc[:, 'iso2'].describe()

count     5746
unique     212
top         ZW
freq        29
Name: iso2, dtype: object

In [56]:
df.loc[:, 'year'].describe()

count    5769.000000
mean     1994.229329
std         8.423265
min      1980.000000
25%      1987.000000
50%      1994.000000
75%      2002.000000
max      2008.000000
Name: year, dtype: float64